---
layout: default
title: Notícias
---
<ul class="news">
    <li>
        <div class="icon"><i class="fa fa-rss fa-fw"></i></div>
        <div class="text">
        <div class="date"></div>
        <div class="date"></div>
        <a href="{{ site.base }}/news/news.xml"> Notícias via Feed RSS</a>
        </div>
    </li>
{% for post in site.data.posts %}
    <li>
        <div class="icon"><i class="fa fa-{{ post.category }} fa-fw"></i></div>
        <div class="text">
        <div class="date">{{ post.date }}</div>
        <b>{{ post.title }}</b>: {{ post.content | markdownfy }}
        </div>
    </li>
{% endfor %}
</ul>
