---
layout: default
title: Equipe
---

<p>Estudantes de doutorado, mestrado ou graduação da Faculdade de Computação ou do Programa de Pós-Graduação em Ciência da Computação do ICEN/UFPA desenvolvem suas respectivas pesquisas no <b>LAAI</b> sob orientação dos professores vinculados ao laboratório.</p>
<p>Nos links abaixo é possível obter mais informações sobre os pesquisadores e estudos desenvolvidos.</p>
<p>O <b>LAAI</b> está disponível para parcerias e desenvolvimento de projetos relacionados com os temas de interesse dos pesquisadores. Contate-nos para maiores informações.</p>

{% for role in site.roles %}
  <h3>{{ role.name }}</h3>
  {% assign new_role = 0 %}
  {% for person in site.data.people %}
    {% if person.date_end != nil %} {% continue %} {% endif %}
    {% if person.role == role.key %}
    {% if person.role == 'professor' %}
        <div class="row">
        <dl class="people">
        <div class="col-md-1">
            {% if person.photo != nil %}
                <p><img src="{{ site.base }}/img/{{ person.photo }}" style="height: 70px;width: 70px;margin: 5px;" align="center" class="img-circle" /></p>
            {% else %}
                <p><img src="{{ site.base }}/img/scholar.jpg" style="height: 70px;width: 70px;margin: 5px;" align="center" class="img-circle" /></p>
            {% endif %}
        </div>
        <div class="col-md-11">
        <dt class="person" style="margin-left: 10px;margin-top: 10px;">
            <a href="{{ person.display_name | sanitize_filename }}">
            {{ person.display_name }}
            </a>
        </dt>
        <dd style="margin-left: 10px;">
            {% if person.interests %}
            {{ person.interests }}
            {% endif %}
        </dd>
        </div>
        </dl>
        </div>
    {% else %}
        {% if new_role == 0 %}
        <div class="row" style="text-align:center">
        {% assign new_role = new_role | plus: 1 %}
        {% endif %}
        <div class="col-md-3">
            {% if person.photo != nil %}
                <p><img src="{{ site.base }}/img/{{ person.photo }}" style="height: 70px;width: 70px;margin-top: 8px;" align="center" class="img-circle responsive" /></p>
            {% else %}
                <p><img src="{{ site.base }}/img/scholar.jpg" style="height: 70px;width: 70px;margin-top: 8px;" align="center" class="img-circle" /></p>
            {% endif %}
        <dt class="person" style="margin-bottom: 1px;">
            <a href="{{ person.display_name | sanitize_filename }}">
            {{ person.display_name }}
            </a>
        </dt>
        </div>
        {% if new_role == 3 %}
        </div>
        {% assign new_role = 0 %}
        {% endif %}
    {% endif %}
    {% endif %}
  {% endfor %}
  {% if new_role != 0 %}
    </div>
    {% assign new_role = 0 %}
  {% endif %}
{% endfor %}

<!--<h3>Ex-Membros</h3>
{% for role in site.roles %}
  <h3>{{ role.name }}</h3>
  <dl class="people">
  {% for person in site.data.people %}
    {% if person.date_end == nil %} {% continue %} {% endif %}
    {% if person.role == role.key %}
      <dt class="person">
        <a href="{{ person.display_name | sanitize_filename }}">
          {{ person.display_name }}
        </a>
      </dt>
      <dd>
        {% if person.interests %}
          {{ person.interests }}
        {% endif %}
      </dd>
      <dd>
          {{ role.name }} {{ person.date_begin }} -- {{ person.date_end }}.
          {% if person.currently %}
            Foi para {{ person.currently }}.
          {% endif %}
      </dd>
    {% endif %}
  {% endfor %}
  </dl>
{% endfor %}-->
